# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
pyvenv.cfg
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
.DS_Store
# service-account-file.json
media/

node_modules/
/node_modules
node_modules

backend/bin/
backend/lib/

backend/pyvenv.cfg
backend/.env
*__pycache__
frontend/.next/
frontend/.yarn/
frontend/node_modules/

backend/setenv.fish
objectStoreSecret.yaml
*.pem
backend/.env.prod
backend/.env.bk
privatekey_docusign
docusign-resp.json
backend/.idea

/.idea/
frontend/sentry.properties
backend/htmlcov

k8s/secrets/

.DS_Store

yarn-error.log
frontend/public/.DS_Store
frontend/next-env.d.ts
*.sql
!fixtures/*.sql
!clean-staging.sql
local.env

.secrets
frontend/tsconfig.tsbuildinfo
frontend/e2e/results
frontend/e2e/storage

.~lock*

frontend/playwright-report/
frontend/playwright-report
frontend/*.zip

backend/backend/staticfiles

backend/backend/mediafiles/**/*.*
!58f80b50-738c-58f9-b84a-be2c35d6002f.png
embedded/salesforce/.localdevserver