/* Main container */
.overview-horizontal-container {
    display: flex;
    justify-content: space-between;
    /* Space between left and right content */
    align-items: flex-start;
    /* Align everything to the top */
    background-color: #f7faff;
    /* Light blue background */
    border: 1px solid #d3d3d3;
    /* Light gray stroke */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    /* Padding around content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Soft shadow */
    margin: 20px 0;
    /* Space around the component */
    position: relative;
}

/* Left icon styling */
.overview-icon {
    position: absolute;
    top: 20px;
    /* Align to top */
    left: 10px;
    /* Align to the left */
}

.overview-icon img {
    height: 40px;
    width: auto;
}

/* Right gender icon styling */
.overview-gender-icon {
    position: absolute;
    top: 10px;
    /* Align to top */
    right: 10px;
    /* Align to the right */
    font-size: 36px;
    color: #3498db;
    /* Blue for male */
}

.overview-search-icon {
    position: absolute;
    top: 10px;
    /* Align to top */
    left: 10px;
    /* Align to the right */
    font-size: 36px;
    color: #3498db;
    /* Blue for male */
}

.gender-icon {
    font-size: 48px;
    font-weight: bold;
    color: #3498db;
    /* Blue for male */
}

.gender-icon-female {
    font-size: 48px;
    font-weight: bold;
    color: #FF8DA1;
    /* Red for female */
}

/* Center content */
.overview-center {
    flex-grow: 1;
    text-align: center;
    /* Center the title and tags */
}

.overview-title {
    font-size: 32px;
    /* Larger font size for more prominence */
    font-weight: 700;
    /* Bold font for impact */
    color: #2c3e50;
    /* Keeping the dark color for contrast */
    text-transform: uppercase;
    /* Uppercase text for added emphasis */
    letter-spacing: 1px;
    /* Slight spacing for a polished look */
    margin: 0;
    /* Ensures no additional margin */
}

/* Tags styling */
.tags-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;

}

.tag {
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* Dark blue-gray */
}

.separator {
    margin: 0 5px;
    color: #95a5a6;
    /* Light gray for separator */
}

/* Overview details - Single row */
.overview-details {
    display: flex;
    justify-content: space-between;
    /* Separate left and right content */
    margin-top: 15px;
    gap: 20px;
    font-size: 16px;
    color: #2c3e50;
    /* Text color */
}

.details-left,
.details-right {
    display: flex;
    flex-direction: row;
    /* Align items horizontally */
    gap: 15px;
    /* Space between spans */
}

