.new-thread-button {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid #7c55d6;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 0.325rem;
	display: flex;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.new-thread-button:hover {
	cursor: pointer;
	font-weight: bold;
}
